.login {
  display: flex;
  background-color: #4d01ff;
  width: 40vw;
  height: 100vh;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  position: fixed;
  right: 0;
  bottom: 0;
  border-left: #210034 solid 5px;
}

.container {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container .header span {
  font-weight: 500;
  font-size: 5vw;
  line-height: 5vw;
  padding-top: 5vw;
}

.container form .inputContainer label {
  font-weight: 400;
  font-size: 16vw;
  line-height: 19px;
  margin-bottom: 8px;
}

.container form .inputContainer input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  width: 520px;
  height: 49px;
  border: 1px solid #5C73DB;
  border-radius: 12px;
  margin-bottom: 12px;
}

.container form a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff;
}

.container form .button {
  width: 520px;
  height: 48px;
  background: #24054C;
  border-radius: 12px;
  color: #fff;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.container form .button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.container form .footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.container form .footer a {
  font-weight: 4000;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #ffffff;
}

html {
  background-image: linear-gradient(30deg, #4d01ff 12%, transparent 12.5%, transparent 87%, #4d01ff 87.5%, #4d01ff),
    linear-gradient(150deg, #4d01ff 12%, transparent 12.5%, transparent 87%, #4d01ff 87.5%, #4d01ff),
    linear-gradient(30deg, #4d01ff 12%, transparent 12.5%, transparent 87%, #4d01ff 87.5%, #4d01ff),
    linear-gradient(150deg, #4d01ff 12%, transparent 12.5%, transparent 87%, #4d01ff 87.5%, #4d01ff),
    linear-gradient(60deg, rgba(77, 1, 255, 0.5) 25%, transparent 25.5%, transparent 75%, rgba(77, 1, 255, 0.5) 75%, rgba(77, 1, 255, 0.5)),
    linear-gradient(60deg, rgba(77, 1, 255, 0.5) 25%, transparent 25.5%, transparent 75%, rgba(77, 1, 255, 0.5) 75%, rgba(77, 1, 255, 0.5));
  background-size: 64px 112px;
  background-position: 0 0, 0 0, 32px 56px, 32px 56px, 0 0, 32px 56px;
  background-color: #210034;
}

/* Media queries para celular */
@media only screen and (max-width: 480px) {
  .login {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: none;
  }

  .container .header span {
    font-size: 8vw;
    line-height: 8vw;
    padding-top: 10vw;
  }

  .container form .inputContainer label {
    font-size: 8vw;
  }

  .container form .inputContainer input {
    width: 80vw;
    height: 8vw;
  }

  .container form .button {
    width: 80vw;
    height: 8vw;
    font-size: 10px;
  }

  .container form .footer p,
  .container form .footer a {
    font-size: 12px;
  }
}
