*{
  box-sizing: border-box;
}

body, html, :root{
  background-color: #0c0c0c;
}

.profilePicDm{
  width: 50px;
  border-radius: 50%;
}

.profilePicDm:hover{
  width: 50px;
  border-radius: 50%;
}

.mensagemDm{
  display: flex;
  margin-top: 8px;
}

#msg{
  margin-left:4%;
}

.footerDm{
  justify-content: space-around;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: visible;
  background-color: #111111;
}

.footerDm img{
  overflow: visible;
  width: 24px;
  filter: invert(35%) sepia(45%) saturate(4230%) hue-rotate(221deg) brightness(94%) contrast(90%);
  transition: all 300ms;
}

.imgProfilePic{
  width: 50px
}

.footerDm div{
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  overflow: visible;
}

.footerDm div:hover img{
  filter: invert(35%) sepia(45%) saturate(4230%) hue-rotate(221deg) brightness(94%) contrast(90%) drop-shadow(0px 0px 5px #4763E4) drop-shadow(0px 0px 15px #4763E4);
}

.boldDm{
  font-weight: bolder;
}

.lightDm{
  font-weight: lighter;
}

.headerDm{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.inputPesquisaDm {
  padding: 0.7rem 2rem 0.7rem 2rem;
  border-radius: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #4763E4;
  color: #ffffff;
  outline-color: #4763E4;
}
.inputPesquisaDm:focus,
.inputPesquisaDm:active{
  outline: none;
  outline: 3px solid #4763E4!important;
}

.centralizarDm{
  display: flex;
  justify-content: center;
}

.tudoMenosImg{
  width: 100%;
  margin-left: 15px;
}

.chatDm{
  background-color: #111111;
  border-radius: 15px;
  display: flex;
  padding: 4% 2% 4% 2%;
}

/*.chatDm:hover{
  box-shadow: 0px 0px 10px #4763E4;
}
*/

.chatDm p {
  margin: 0
}

.dadosPessoaisDm{
  width: 100%;
  display: flex;
  gap: 10px;
}

.dm-screen{
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    margin: 0;
    background-color: #242424;
}

.botao-buscar-menu, .a-postar-menu-lateral, .menu-lateral-dm{
  width: 100%;
}

.postar-menu-lateral{
  background-color: #4763E4;
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
}

.postar-menu-lateral p{
  text-align: center;
}


#p-postar-menu-lateral{
  display: none;
}

#img-postar-menu-lateral-medio{
  width: 32px;
  filter: invert(100%);
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: lightDm dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  position: relative;
  height: 100%;
} */

.enviarMensagem{
  display: flex;
  justify-content: space-around;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: visible;
  padding-bottom: 2%;
}

.enviarMensagem .inputPesquisaDm{
  width: 70%;
  padding: 0.4rem 0rem 0.4rem 0rem;
}

#voltarChat{
  padding-right: 4px;
  width: 28px;
}

link, a{
  text-decoration: none;
  color:#ffffff
}

#enviarChat{
  width: 32px;
}

.nomeUserDm{
  padding-left: 5%;
}

.mensagem {
  padding: 10px;
  height: 82vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.mensagemChat {
  max-width: 500px;
  margin-bottom: 0;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: end;
  margin-bottom: 12px;
}


.sentDm {
  flex-direction: row-reverse;
}

.sentDm p {
  border-radius: 25px 25px 0 25px;
  color: white;
  background: #4763E4;
  align-self: flex-end;
  margin-right: 2%;
}
.receivedDm p {
  background: #e5e5ea;
  color: black;
  border-radius: 25px 25px 25px 0;
  margin-left: 2%;
}

.mensagemChatPv {
  max-width: 500px;
  margin-bottom: 0;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

#blocoPesquisaDm{
  flex-direction: column;
  padding: 2%;
}

.fullDmMessages > div{
  padding: 5px;
  transition: background-color 200ms;
}

.fullDmMessages{
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.listaResultadosPesquisaDm{
  display: flex;
  align-items: center;
  padding: 10px;
}

.ulDm{
  padding:  0;
  margin: 0!important;
  /*width: 90%;*/
  background-color: #0c0c0c;
  border-radius: 0 0 10px 10px;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.full-dm-screen{
  display: flex;
  height: 100%;
  background-color: #0c0c0c;
  /* overflow: scroll; */
  height: calc(100vh - 56px);
  /*overflow-x: hidden;*/
  overflow-y: scroll;
}

.lateral-estatica-dm{
  display: none;
  flex-direction: column;
  padding: 0px 15px 0px 15px;
  align-items: center;
  height: 100vh;
  padding-top: 20px;
  align-items: flex-start;
  background-color: #111111;
}

.lateral-estatica-dm{
  display: none;
  padding: 20px;
  height: 100vh;
  background-color: #111111;
  border-radius: 0 30px 30px 0;
}

  /* .iconDm div:hover {
    filter: invert(35%) sepia(45%) saturate(4230%) hue-rotate(221deg) brightness(94%) contrast(90%) drop-shadow(0px 0px 5px #4763E4) drop-shadow(0px 0px 15px #4763E4);
  } */

.iconDm img{
  overflow: visible;
  width: 32px;
  transition: all 300ms;
  margin: 10px 0px 10px 0px;
}

.menu-lateral-dm{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40%;
  
}

.screen-dm-usavel{
  width: 100vw;
}


.cada-icone-img-nome-dm{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cada-icone-img-nome-dm p{
  font-size: 18px;
  margin-left: 15px;
  /* font-weight: 600; */
}

.escrita-lateral-dm{
  color: #ffffff; 
}

#msg{
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}

.div-dm-cefernoFullImg{
  display: none;
}

.tela-logo-lateral-dm{
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  width: 270px;
}

@media screen and (max-width:924px) and (min-width: 720px){

  .mensagem {
    padding: 10px;
    height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  ::-webkit-scrollbar{
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #4763E4;
  }

  .footerDm{
    display: none !important; 
  }

  #img-perfil-dm-telaP{
    display: none !important;
  }

  .lateral-estatica-dm{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100px;
    left: 0;
    top: 0;
  }

  .escrita-lateral-dm{
    display: none;
  }

  #msg{
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
    margin-left: 0% !important;
  }

  .headerDm{
    justify-content: flex-start;
  }

  .full-dm-screen{
    height: 100% !important;
  }

  .screen-dm-usavel{
    width: 100vw;
    margin-left: 104px;
    position: relative;
    height: 100vh;
  }

  .botao-buscar-menu, .a-postar-menu-lateral{
    width: fit-content;
  }
  #pesquisa-Dm-lateral {
    display: none;
  }
}

/* @media (min-width:850px){

  .mensagem {
    padding: 10px;
    height: 78vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  ::-webkit-scrollbar{
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #4763E4;
  }
} */

@media screen and (max-width:1279px) and (min-width: 924px){
  .mensagem {
    padding: 10px;
    height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  ::-webkit-scrollbar{
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #4763E4;
  }

  .footerDm{
    display: none !important; 
  }

  #img-perfil-dm-telaP{
    display: none !important;
  }

  .lateral-estatica-dm{
    display: flex;
    align-items: flex-start;
    position: fixed;
    width: 240px;
    left: 0;
    top: 0;
  }

  .escrita-lateral-dm{
    display: flex !important;
  }

  #msg{
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
    margin-left: 0% !important;
  }

  .headerDm{
    justify-content: flex-start;
  }

  .menu-lateral-dm{
    align-items: flex-start;
  }

  .full-dm-screen{
    height: 100% !important;
  }

  .screen-dm-usavel{
    width: 50vw;
    margin-left: 260px;
    position: relative;
    height: 100vh;
  }

  #img-postar-menu-lateral-medio{
    display: none !important;
  }

  #p-postar-menu-lateral{
    display: block !important;
  }

  
}

@media screen and (min-width: 1279px) and (max-width: 1416px){

  .mensagem {
    padding: 10px;
    height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }

  .footerDm{
    display: none !important; 
  }

  #img-perfil-dm-telaP{
    display: none !important;
  }

  .lateral-estatica-dm{
    display: flex;
    align-items: flex-start;
    position: fixed;
    width: 240px;
    left: 0;
    top: 0;
  }

  .escrita-lateral-dm{
    display: flex !important;
  }

  #msg{
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
    margin-left: 0% !important;
  }

  .headerDm{
    justify-content: flex-start;
  }

  .menu-lateral-dm{
    align-items: flex-start;
  }

  .div-dm-cefernoFullImg{
    background-color: #4763e4;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 30px 0 0 30px;
  }

  .dm-cefernoFullImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 50px;
  }

  .tela-logo-lateral-dm{
    background-color: #4763e4;
    display: flex;
    align-items: center;
    width: 33%;
    height: 100vh;
    border-radius: 30px 0 0 30px;
  }

  .full-dm-screen{
    height: 100% !important;
  }

  .screen-dm-usavel{
    width: 100vw;
    margin-left: 260px;
    margin-right: 27%;
    position: relative;
    height: 100vh;
  }

  #img-postar-menu-lateral-medio{
    display: none !important;
  }

  #p-postar-menu-lateral{
    display: block !important;
  }
}

@media (min-width:1400px){

  .mensagem {
    padding: 10px;
    height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  ::-webkit-scrollbar{
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #4763E4;
  }

  .footerDm{
    display: none !important; 
  }

  #img-perfil-dm-telaP{
    display: none !important;
  }

  .lateral-estatica-dm{
    display: flex;
    align-items: flex-start;
    position: fixed;
    width: 240px;
    left: 0;
    top: 0; 
  }

  .escrita-lateral-dm{
    display: flex !important;
  }

  #msg{
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
    margin-left: 0% !important;
  }

  .headerDm{
    justify-content: flex-start;
  }

  .menu-lateral-dm{
    align-items: flex-start;
  }

  .div-dm-cefernoFullImg{
    background-color: #4763e4;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 30px 0 0 30px;
  }

  .dm-cefernoFullImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 100px;
  }

  .tela-logo-lateral-dm{
    background-color: #4763e4;
    display: flex;
    align-items: center;
    width: 33%;
    height: 100vh;
    border-radius: 30px 0 0 30px;
  }

  .full-dm-screen{
    height: 100% !important;
  }

  .screen-dm-usavel{
    width: 100vw;
    margin-left: 260px;
    margin-right: 27%;
    position: relative;
    height: 100vh;
  }

  #img-postar-menu-lateral-medio{
    display: none !important;
  }

  #p-postar-menu-lateral{
    display: block !important;
  }
} 