/* denuncia */

.iconeDenuncia {
  margin-left: 45vw;
  color: #4763e4;
}

.DenunciaInvisible {
  display: none;
}

.FundoInvisible {
  backdrop-filter: blur(50px);
}

.denuncia {
  position: fixed !important;
  width: 50vw;
  height: 30vh;
  background-color: #000000;
  border: 4.5px groove #4763e4;
  padding-left: 2vw;
  padding-right: 7vw;
  color: white;
  z-index: 1;
}

.denuncia button {
  background: #000000;
  border: none;
  color: white;
}

.denuncia .enviar {
  margin-top: 10vh;
  margin-left: 35vw;
  font-size: 2.5vh;
}
.denuncia h1 {
  font-size: 4vh;
  text-align: center;
  margin-top: 1vh;
  margin-left: 20vw;
  padding-bottom: 1.5vh;
}

.denuncia h1 button {
  margin-left: 15vw;
}


.opcoesDenuncia {
  background: black !important;
  color: white;
  font-weight: bold;
  height: 5vh;
  width: auto;
  border: 2.5px groove blue !important;
}

.alternaOpcao {
  padding-left: 3vw;
}

label {
  font-size: 3vw;
}