/* denuncia */

/* mobile first */

.denuncia {
  position: fixed !important;
  top: 15vh;
  left: 8vw;
  width: 85vw;
  height: auto;
  background-color: #000000;
  border: 2px groove #4763e4;
  box-shadow: 0 0 10px 0.5px #4763E4;
  padding-left: 2vw;
  padding-right: 2vw;
  color: white;
  z-index: 1;

  border-radius: 12px;
}

.iconeDenuncia {
  margin-left: 80vw;
  color: #4763e4;
}

.iconeDenuncia:hover,
.fecharDenuncia:hover ,
.escolhaDenuncia:hover, 
select:hover {
  cursor: pointer;
}

.escolhaDenuncia {
  margin-bottom: -1vh;
  margin-left: -1vw;

}

.denuncia button {
  background: #000000;
  border: none;
  color: white;
}

.denuncia .enviarDenuncia {
  margin-top: 2vh;
  margin-left: 35vw;
  font-size: 2.5vh;
}

.denuncia .enviarDenuncia:hover {
  cursor: pointer;
}

.denuncia h1 {
  font-size: 3vh;
  padding-left: 25vw;
  display: inline;
}

.fecharDenuncia {
  padding-left: 25vw;
  padding-top: -5vw;
  font-size: 15px;
  display: inline;
}

.headerDenuncia {
  padding-top: 1vh;
  display: block;
  margin-bottom: 2vh;
}

.denuncia h1 button {
  margin-left: 15vw;
}

.opcoesDenuncia {
  background: black !important;
  color: white;
  font-weight: bold;
  height: 5vh;
  width: 80vw;
  border: 2px groove blue !important;
  border-radius: 5px;
}


.alternaOpcao {
  padding-left: 3vw;
}


.DenunciaInvisible {
  display: none;
}

.FundoInvisible {
  backdrop-filter: blur(50px);
}

#label-denuncia, #label-denuncia1{
  display: block;
  width: 82vw;
}

option {
  padding: 10px !important;
  border: 2px solid red;
}

::selection {
  color: white;
  background-color: #4763e4; /* Define a cor de fundo da seleção */
}

.options-menu-post {
  position: absolute;
  color: white;
  background-color: #111111;
  border: 2px solid #4763E4;
  border-radius: 5px;
  z-index: 1;
  width: 35vw;
  margin-left: 45vw;
  box-shadow: 0 0 10px 0.5px #4763E4;
}

.option-post {
  padding: 2vw;
}

.option-post:hover{
  cursor: pointer;
}

/* Styles for PCs */
@media (min-width: 720px) {

  .options-menu-post {
    color: white;
    background-color: #111111;
    border: 2px solid #4763E4;
    border-radius: 5px;
    z-index: 1;
    width: 10vw;
    margin-left: 36vw;
    box-shadow: 0 0 10px 0.5px #4763E4;
  }
  
  .option-post {
    padding: 1vw;
  }
  
  .option-post:hover{
    cursor: pointer;
  }

  .denuncia {
    width: 40vw;
    left: 30vw;
    top: 10vh;
  }

  .iconeDenuncia {
    margin-left: 45vw;
  }

  .escolhaDenuncia {
    margin-bottom: -1vh;
    margin-left: -2vw;
  }

  .denuncia .enviarDenuncia {
    display: block;
    margin-left: 16.5vw;
    font-size: 2vh;
  }

  .denuncia h1 {
    font-size: 2.5vh;
    padding-left: 15vw;
  }

  .fecharDenuncia {
    padding-left: 13vw;
    padding-top: -2vh;
    font-size: 15px;
  }

  .headerDenuncia {
    padding-top: 2vh;
    margin-bottom: 3vh;
  }

  .denuncia h1 button {
    margin-left: 10vw;
  }

  .opcoesDenuncia {
    width: 15vw !important;
    border-radius: 3px;
  }

  .alternaOpcao {
    padding-left: 2vw;
  }

  #label-denuncia, #label-denuncia1 {
    width: 38vw;
  }

  option {
    padding: 5px !important;
    border: 1px solid red;
  }
}