*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

<<<<<<< Updated upstream
.home {
  background: linear-gradient(116deg, #190432 3.20%, #391466 12.68%, #472176b9 23.15%, #1e063d 41.21%, #060111 71.74%);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  font-family: "Poppins", sans-serif;
}

header .header-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .header-logo svg {
  height: 1.5rem;
  width: 1.5rem;
}

header .header-logo svg path:first-child {
  fill: white;
} 

header .header-logo svg path:last-child {
  fill: #4d01ff;
}

header .header-logo .logo-text {
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 1rem;
  color: #4d01ff;
}

header .header-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-items .header-item {
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
}

header .header-items .header-item:first-child {
  margin-left: 0;
}

header .header-items .header-item:last-child {
  margin-right: 0;
}

header .header-items .header-item .item-title {
  display: flex;
  align-items: center;
}

header .header-items .header-item .item-title .title-text {
  font-size: 0.85rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.785);
}

header .header-items .header-item .item-title .title-icon {
  display: flex;
  align-items: center;
}

header .header-items .header-item .item-title .title-icon svg {
  height: 1rem;
  width: 1rem;
}

header .header-items .header-item .item-title .title-icon svg path {
  fill: #4d01ff;
}

header .header-items .header-item::before {
  content: "";
  position: absolute;
  bottom: -0.35rem;
  width: 100%;
  height: 0;
  background-color: #4d01ff;
  transition: height 125ms ease-in-out;
}

header .header-items .header-item:hover::before {
  height: 0.125rem;
}

header .header-link {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: 0.15rem solid rgba(251, 251, 251, 0.125);
  font-size: 0.85rem;
  font-weight: 300;
  color: #4d01ff;
  transition: border 250ms ease-in-out;
  margin-left: 1rem;
}

header .header-link:hover {
  border: 0.15rem solid #4d01ff;
}

main {
  padding: 5rem 10rem;
=======
body, html{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
>>>>>>> Stashed changes
}

.home-screen{
  background-color: #0c0c0c;
  font-family: 'Inter';
  height:100vh;
  width: 100vw;
  padding: 30px;
  position: relative;
}

.titulo-home{
  font-size: 40px;
  color: #f9f9f9;
} 

#home-logo-Tlpequena{
  display: flex;
}

.logo-text-home {
  padding: 0 0 0 20px;
}

.home-title{
  justify-content: center;
<<<<<<< Updated upstream
  padding: 5rem;
}

main .home-section .home-title {
  width: 40rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.785);
  position: relative;
  margin-left: 30%;
  margin-top: -4%;
  text-align: justify;
}

.botaoAcessar {
  margin-top: -3.5rem; /* Use valores de margem menores para espaçamento */
  text-align: right; /* Alinhe à direita */
}

.titulo {
  margin-top: -20%;
  margin-left: 25% !important;
  width: 40rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.785);
  position: relative;
}

main .home-section .home-button {
  width: max-content;
  background-color: #4d01ff;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 1rem;
  font-weight: 500;
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}

main .home-section .home-button:hover {
  transform: translateY(-0.25rem);
}


@media (max-width: 400px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .header-logo {
    margin: -1rem 0 1rem -12rem;
=======
  color: #f9f9f9;
  
  /* align-content: center; */
  align-items: center;
  text-align: center;
}


.home-button{
  all: unset;
  margin: 30px 0 10px 0;
  width: 100%;
  background-color: #4763E4;
  color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.botaoAcessar{
  text-decoration: none;
}

.home-section{
  display: flex;
  justify-content: center;
  color: #f9f9f9;
  height: 70vh;
  align-items: center;
  flex-direction: column;
  
}

.home-footer{
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  left: 0;
  padding: 30px;
}

.title-text-home{
  color: #f9f9f980;
  font-size: 15px;
  text-decoration: none;
  /* margin: 0px 20px 0px 20px; */
}

#home-logo-Tlgrande{
  display: none;
}

.home-botao-Tlgrande{
  display: none;
}

.home-p-ou-Tlgrande, .home-titulo-Tlgrande, .home-img-logo-Tlgrande, .home-p-Tlgrande{
  display: none;
}

#home-botao-entrar{
  color: #4763E4;
  background-color: #0c0c0c;
  border: 2px solid #4763E4;
}

.home-main-Tlgrande{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-top: 10%;
}

.home-img-logo-Tlgrande{
  padding: 20px;
  width: 40%;
}

.home-div-centro-Tlgrande{
  width: 60%;
  padding-bottom: 20px;
}

.span-home{
  color:  #4763E4;
}


@media screen and (max-width:1279px) and (min-width: 769px){
  #home-logo-Tlgrande{
    display: block;
    margin: auto;;
    width: 100%;
    height: 100%;
  }

  #home-logo-Tlpequena{
    display: none!important; 
  }

  .home-botao-Tlgrande, .home-titulo-Tlgrande, .home-img-logo-Tlgrande{
    display: flex;
  }

  .home-p-ou-Tlgrande, .home-p-Tlgrande{
    display: flex;
  }

  .home-p-Tlgrande{
    flex-direction: row;
    text-align: center;
    padding-bottom: 5px;
  }

  .home-botao-Tlpequena{
    display: none!important;
  }

  .home-main-Tlgrande{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 10%;
  }

  #p-home-Tlgrande-centralizar{
    justify-content: center;
  }

  .home-footer{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 30px;
    justify-content: center;
  }

  .title-text-home{
    padding: 0px 10px 0px 10px;
  }

  .home-section{
    display: flex;
    justify-content: center;
    color: #f9f9f9;
    height: 90vh;
    align-items: center;
    flex-direction: column;
  }

  .home-title{
    justify-content: center;
    color: #f9f9f9;
    /* align-content: center; */
    align-items: center;
    text-align: center;
>>>>>>> Stashed changes
  }
  
  .home-button{
    all: unset;
    margin: 10px 0 10px 0;
    width: 100%;
    background-color: #4763E4;
    color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
  }

<<<<<<< Updated upstream
  .header-items {
    background-color: rgba(58, 10, 200, 0.141);
    border: 1px solid  rgb(94, 18, 187) ;
    flex-direction: column;
    margin-right: -10rem;
  }

  header .header-items .header-item {
    margin: 0.5rem 0;
  }

  .header-link {
    font-size: 0.85rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.785) !important;
  }

  main {
    padding: 4rem;
  }

  main img {
    margin: -3rem 0 0 auto;
    max-width: 5rem !important;
    max-height: 5rem !important;
  }

  main .titulo {
    font-size: 4rem !important;
    margin-top: 1rem;
    margin-left: -16rem !important;
  }

  main .home-title {
    font-size: 0.89em;
    text-align: center !important;
    margin-top: -1.5rem !important;
    margin-left: -16rem !important;
  }

  main .home-button {
    margin-top: 5.5rem;
    margin-bottom: 3rem;
    margin-left: -2rem;
=======
  .home-section > div{
    align-items: center;
>>>>>>> Stashed changes
  }

  #menuHamburguer { 
    margin: -5.5rem 0 3rem 18rem;
  }
}