*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.home-screen{
  background-color: #0c0c0c;
  font-family: 'Inter';
  height:100vh;
  width: 100vw;
  padding: 30px;
  position: relative;
}

.titulo-home{
  font-size: 40px;
  color: #f9f9f9;
} 

#home-logo-Tlpequena{
  display: block;
    margin: auto;
}

.logo-text-home {
  padding: 0 0 0 20px;
}

.home-title{
  justify-content: center;
  color: #f9f9f9;
  font-weight: 500;
  /* align-content: center; */
  align-items: center;
  text-align: center;
}

.home-button{
  all: unset;
  margin: 30px 0 10px 0;
  width: 100%;
  background-color: #4763E4;
  color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.botaoAcessar{
  text-decoration: none;
}

.home-section{
  display: flex;
  justify-content: center;
  color: #f9f9f9;
  height: 70vh;
  align-items: center;
  flex-direction: column;
  
}

.home-footer{
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  left: 0;
  padding: 30px;
}

.title-text-home{
  color: #f9f9f980;
  font-size: 15px;
  text-decoration: none;
  /* margin: 0px 20px 0px 20px; */
}

#home-logo-Tlgrande{
  display: none;
}

.home-botao-Tlgrande{
  display: none;
}

.home-p-ou-Tlgrande, .home-titulo-Tlgrande, .home-img-logo-Tlgrande, .home-p-Tlgrande{
  display: none;
}

#home-botao-entrar{
  color: #4763E4;
  background-color: #0c0c0c;
  border: 2px solid #4763E4;
}

.home-titulo-Tlgrande{
  font-size: 50px;
}

.home-main-Tlgrande{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-top: 5%;

}

.home-div-centro-Tlgrande{
  width: 60%;
  padding-bottom: 20px;
}

.span-home{
  color:  #4763E4;
}

#home-botao-criar-conta-Tlgrande{
  margin-bottom: 15px;
}

.home-cefernoTextoImg{
  display: none;
}

.div-home-cefernoFullImg{
  display: none;
}

@media screen and (max-width:1279px) and (min-width: 720px){
  /* #home-logo-Tlgrande{
    display: block;
    margin: auto;;
    width: 100%;
    height: 100%;
  } */

  #home-logo-Tlpequena{
    display: none!important; 
  }

  .home-botao-Tlgrande, .home-titulo-Tlgrande, .home-img-logo-Tlgrande{
    display: flex;
  }


  .home-img-logo-Tlgrande{
    padding: 20px 50px 20px 20px;
    width: 40%;
  }


  .home-p-ou-Tlgrande{
    display: flex;
  }

  .home-p-Tlgrande{
    flex-direction: row;
    text-align: center;
    padding-bottom: 20px;
    justify-content: center;
    display: block;
  }

  .home-botao-Tlpequena{
    display: none!important;
  }

  .home-main-Tlgrande{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 5%;
    align-items: flex-end;
  }

  #p-home-Tlgrande-centralizar{
    justify-content: center;
  }

  .home-footer{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 30px;
    justify-content: center;
  }

  .title-text-home{
    padding: 0px 10px 0px 10px;
  }

  .home-section{
    display: flex;
    justify-content: center;
    color: #f9f9f9;
    height: 90vh;
    align-items: center;
    flex-direction: column;
  }

  .home-title{
    justify-content: center;
    color: #f9f9f9;
    /* align-content: center; */
    align-items: center;
    text-align: center;
  }
  
  .home-button{
    all: unset;
    margin: 15px 0 0px 0;
    width: 100%;
    background-color: #4763E4;
    color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
  }

  .home-cefernoTextoImg{
    display: block;
    width: 100%;
    height: 50%;
  }

  .div-home-cefernoTextoImg{
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1279px) and (max-width: 1416px){
  /* #home-logo-Tlgrande{
    display: block;
    margin: auto;;
    width: 115%;
    height: 115%;
  } */

  #home-logo-Tlpequena{
    display: none!important; 
  }
  
  .home-titulo-Tlgrande{
    font-size: 42px;
  }

  .home-botao-Tlgrande, .home-titulo-Tlgrande, .home-img-logo-Tlgrande{
    display: flex;
  }

  .home-img-logo-Tlgrande{
    padding: 20px 50px 20px 20px;
    width: 40%;
  }

  .home-p-ou-Tlgrande, .home-p-Tlgrande{
    display: flex;
  }

  .home-p-Tlgrande{
    flex-direction: row;
    text-align: center;
    padding-bottom: 20px;
    justify-content: center;
    display: block;
  }

  .home-botao-Tlpequena{
    display: none!important;
  }

  .home-main-Tlgrande{
    display: flex;
    justify-content: center;
    width: 60vw;
    height: auto;
    align-items: center;
    margin-top: 5%;
    align-items: flex-end;
  }

  #p-home-Tlgrande-centralizar{
    justify-content: center;
  }

  .home-footer{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 30px;
    justify-content: center;
  }

  .title-text-home{
    padding: 0px 10px 0px 10px;
  }

  .home-section{
    display: flex;
    justify-content: center;
    color: #f9f9f9;
    height: 90vh;
    align-items: center;
    flex-direction: column;
  }

  .home-title{
    justify-content: center;
    color: #f9f9f9;
    /* align-content: center; */
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .home-button{
    all: unset;
    margin: 15px 0 0px 0;
    width: 100%;
    background-color: #4763E4;
    color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
  }

  .home-cefernoTextoImg{
    display: block;
    width: 100%;
    height: 50%;
  }

  .div-home-cefernoTextoImg{
    display: none;
    
  }

  .div-home-cefernoFullImg{
    display: flex;
    background-color: #4763e4;
    width: 40%;
  }

  .home-cefernoFullImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 100px;
  }

  .home-super-screen{
    display: flex;
  }

  .home-screen{
    width: 60%;
  }
}

@media screen and (min-width: 1416px){
  /* #home-logo-Tlgrande{
    display: block;
    margin: auto;;
    width: auto;
    height: auto;
  } */

   #home-logo-Tlpequena{
    display: none!important; 
  }
  
  .home-titulo-Tlgrande{
    font-size: 42px;
  }
  
  .home-botao-Tlgrande, .home-titulo-Tlgrande, .home-img-logo-Tlgrande{
    display: flex;
  }

  .home-img-logo-Tlgrande{
    padding: 20px 50px 20px 20px;
    width: 40%;
  }

  .home-p-ou-Tlgrande, .home-p-Tlgrande{
    display: flex;
  }

  .home-p-Tlgrande{
    flex-direction: row;
    text-align: center;
    padding-bottom: 20px;
    justify-content: center;
    display: block;
  }

  .home-botao-Tlpequena{
    display: none!important;
  }

  .home-main-Tlgrande{
    display: flex;
    justify-content: center;
    width: 60vw;
    height: auto;
    align-items: center;
    margin-top: 5%;
    align-items: flex-end;
  }

  #p-home-Tlgrande-centralizar{
    justify-content: center;
  }

  .home-footer{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 30px;
    justify-content: center;
  }

  .title-text-home{
    padding: 0px 10px 0px 10px;
  }

  .home-section{
    display: flex;
    justify-content: center;
    color: #f9f9f9;
    height: 90vh;
    align-items: center;
    flex-direction: column;
  }

  .home-title{
    justify-content: center;
    color: #f9f9f9;
    /* align-content: center; */
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .home-button{
    all: unset;
    margin: 15px 0 0px 0;
    width: 100%;
    background-color: #4763E4;
    color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
  }

  .home-cefernoTextoImg{
    display: block;
    width: 100%;
    height: 50%;
  }

  .div-home-cefernoTextoImg{
    display: none;
    
  }

  .div-home-cefernoFullImg{
    display: flex;
    background-color: #4763e4;
    width: 40%;
  }

  .home-cefernoFullImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 150px;
  }

  .home-super-screen{
    display: flex;
  }

  .home-screen{
    width: 60%;
  }
}