@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
  background-color: #000;
  color:#d9d9d9;
}

.tutorial{
  width: 100%;
}

body {
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}


hr{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 10px;
}

.tutorial header{
  width: 100%;
  height: 100%;
}

.btn:hover{
  background-color: #00003d;
  border-color: #4763E4;
}

.btn{
  
  border-color: #4763E4;
  border-radius: 25px;
}

body {
  
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  background-color: #7813FB;
 }
header .header-logo-tutorial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: none;
}
header .header-logo svg {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #7813FB;
}

header .header-logo svg path:first-child {
  fill: white;
} 
header .header-logo svg path:last-child {
  fill: #4763E4;
}
header .header-logo .logo-text {
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 1rem;
  color: white;
  background-color: #7813FB;
}
header .header-items {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}
header .header-items .header-item {
  margin: 0 1rem;
  position: relative;
  cursor: pointer;
}
header .header-items .header-item:first-child {
  margin-left: 0;
}
header .header-items .header-item:last-child {
  margin-right: 0;
}
header .header-items .header-item .item-title {
  display: flex;
  align-items: center;
  background-color: #7813FB;
}
a {
   background-color: #7813FB;
}

header .header-items .header-item .item-title .title-text {
  font-size: 0.85rem;
  font-weight: 500;
  color: #d9d9d9;
  background-color: #7813FB;
}
header .header-items .header-item .item-title .title-text:hover {
  color:#26199b;
}

header .header-items .header-item .item-title .title-icon {
  display: flex;
  align-items: center;
}
header .header-items .header-item .item-title .title-icon svg {
  height: 1rem;
  width: 1rem;
}
header .header-items .header-item .item-title .title-icon svg path {
  fill: #7813FB;
}
header .header-items .header-item ::before {
  content: "";
  position: absolute;
  bottom: -0.35rem;
  width: 100%;
  height: 0;
  background-color: rgba(255, 255, 255, 0.763);
  transition: height 125ms ease-in-out;
}
header .header-items .header-item .tutorial::before {
  height: 0.125rem;
}
header .header-link {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.681);
  font-size: 0.85rem;
  font-weight: 300;
  color: white;
  transition: border 250ms ease-in-out;
  background-color: #7813FB;
  margin-left: 1rem;
}
header .header-link:hover {
  border: 0.15rem solid #4763E4;
  background: #00003d;
}

main {
  padding: 5rem 10rem;
  background: linear-gradient(64deg, #772fcf 0%, #6e0ee48c 100%) !important;
  box-shadow: -44.3667984008789px 75.1484375px 999.86666870117188px 74.3667984008789px rgb(120, 19, 251) inset, 84.3667984008789px -41.1484375px 93.86666870117188px 0px rgba(86, 45, 136, 0.232) inset !important;
}
main .home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem;
}
main .home-section .home-title {
  width: 40rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.65);
}
main .home-section .home-button {
  width: max-content;
  background-color: #4763E4;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 1rem;
  font-weight: 500;
  transition: transform 250ms ease-in-out;
  cursor: pointer;
}
main .home-section .home-button:hover {
  transform: translateY(-0.25rem);
}

.container1{
  margin-bottom: 600px;
  align-items: center;
}

.text-center{
  background: none;
}
@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  header .header-logo {
    margin-bottom: 1rem;
  }
  
  header .header-items {
    flex-direction: column;
    margin-top: 2rem;
  }
  
  header .header-items .header-item {
    margin: 0.5rem 0;
  }
  
  main {
    padding: 2rem;
  }
}

@media (max-width: 575px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  header .header-logo {
    margin-bottom: 1rem;
  }
  
  header .header-items {
    flex-direction: column;
    margin-top: 2rem;
  }
  
  header .header-items .header-item {
    margin: 0.5rem 0;
  }
  
  main {
    padding: 2rem;
  }

  .container1{
    margin: 10px 10px 300px 10px;
    max-width: 400px;
  }

  .header-link{
    margin-top: 15px;
  }

} 